*{
    margin: 0;
    padding: 0;

}

.photo1{
    width: 130px;
    height: 130px;


}

.photo2{
    width: 50px;
    height: 50px;
}

.logolar{
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
    align-items: center;

    
}

ul {
    list-style: none;
    display: flex;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    gap: 40px;
    padding: 20px;
    margin: 0;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    
}

a{
    text-decoration: none;
    text-decoration: line red;
    color: gold;
}


.input-box{
    width: 300px;
    height: 40px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    background-color: hsla(0,0%,100%,.15) ;
    border-radius: 10px;
    position: relative;
}




.input-btn{
    object-fit: cover;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 7px;
    
    
}

.input-box:focus{
    background-color: aliceblue;
}


.input{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.input:focus{
    background-color: aliceblue;
}

@media (max-width: 768px) {
    .logolar {
        flex-direction: column;
        gap: 10px;
    }

    .suretter {
        margin-top: 10px;
    }

    .input-box {
        width: 200px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}


@keyframes showerAnimation {
    0%{
        height: 0;
    }
    100%{
        height: 400px;
    }
}

.showerAnimation{
    animation: showerAnimation 1.2s;
    animation-fill-mode: forwards;
}

.showerAnimationEnd{
    height: 400px;
}

.header-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    

}

.header-center h3{
    color: rgb(247, 226, 111);
    font-size: 23px;
}

.header-center h5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    gap: 50px;
}


.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: skyblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.local-icons {
    width: 50px;
    height: 50px;
}

.local-temp {
    font-size: 24px;
    font-weight: bold;
}

#bugin{
    color: skyblue;
}

#kazakh{
    color: skyblue;
}